*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    ---dark:#312F2F;
    ---tt-color:#D5BB77;
    ---tt-color-on:#d5ba778f;
    --subcolor:#1D2780;
    --bg-box:#DDDDDD;
}

/*------------header----------*/
.header{
    background-color: var(---dark) ;
}
.header .header-tt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
}
.header .header-tt img{
    width: 35px;
    margin-right: 4px;
}
.header-tt h1{
    color: var(---tt-color);
}
.h-nav{
    background-color: var(--subcolor);
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.h-nav nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.h-nav a{
    color: var(---tt-color);
}
.h-nav a:hover{
    color: var(---tt-color-on);
}

/*------------ main ----------*/
.box{
    background-color: var(--bg-box);
    border-radius: 10px;
    text-align: center;
}

.offiz{
    color: #531e1e00;
}
.ssdr{
    height: 100vh;
    background-image: url('../images//finance-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}